body {
  color: rgb(185, 178, 178) !important ;
  font-family: 'Roboto', sans-serif !important;
  background-image: url("./assets/backgroundImage.jpg");
  background-size: cover;
  background-position: center;
  height: 650px;
  
}

.mainContainer{
  color: rgb(185, 178, 178) !important ;
  margin-top: 50px;
  margin-left: 40px;
  width: 90%;
  height: 530px;
  overflow: scroll;
}


.rowHome{
  margin-top: 200px;
}


.title {
  border-bottom: 2px solid rgb(113, 149, 247);
}

.aboutContainer{
  color: rgb(185, 178, 178) !important;
  height: 500px;
  width: 400px;
}

.profilePic{  
  height: 320px;
  width: 280px;
  border-radius: 300px;
  box-shadow: cyan;
}

.educationTimeline{
  margin-top: 50px;
}

.blueFont{
  color: rgb(33, 150, 243) !important;
}