body {
  color: rgb(185, 178, 178) !important ;
  font-family: 'Roboto', sans-serif !important;
  background-image: url("./assets/backgroundImage.jpg");
  background-size: cover;
  background-position: center;
  height: 650px;
  
}

.mainContainer{
  color: rgb(185, 178, 178) !important ;
  margin-top: 50px;
  margin-left: 5%;
  width: 90%;
  height: 530px;
  overflow: scroll;
}


.rowHome{
  margin-top: 200px;
}


.title {
  border-bottom: 1px solid rgb(113, 149, 247);
}

.aboutContainer{
  color: rgb(185, 178, 178) !important;
  height: 500px;
  width: 400px;
}

.profilePic{  
  margin-left: 80px;
  height: 320px;
  width: 280px;
  border-radius: 300px;
  box-shadow: cyan;
}

.educationTimeline{
  margin-top: 50px;
}

.blueFont{
  color: rgb(33, 150, 243) !important;
}

.a-card-image {
  border-radius: 10px;
  width: 200px;
  height: 320px;
  
}

.a-card-image:hover{
  box-shadow: 0px 0px 3px 1px rgb(128, 140, 211);
  cursor: pointer;
}

.modalContainer{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:rgba(0,0,0,0.8);
}

#modal{
  background: var(--mainWhite);
}

.projectImage{
  width: 500px;
}

.success-msg {
  color: #57A773;
  padding: 10px 15px;
}

.err-msg {
  color: #EE6352;
  padding: 10px 15px;
}